<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"	
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    
<bean id="myAddress" class="example.spring.core.Address">
<property name="city" value="Chicago"/>
<property name="pinCode" value="455334"/>
</bean>

<bean id="myAnotherAddress" class="example.spring.core.Address">
<property name="city" value="Washington DC"/>
<property name="pinCode" value="423001"/>
</bean>


<bean id="myCustomer" class="example.spring.core.Customer">
<property name="name" value="Mark Wiens"/>
<property name="email" value="mark.wiens@gmail.com"/>
<!-- <property name="permanentAddress" ref="myAddress"/> -->
<property name="permanentAddress"> 
<ref bean="myAnotherAddress"/> </property>
</bean>


</beans>